<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.icraf.gsl.regreeningafrica">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_regreeningafrica_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.icraf.gsl.regreeningafrica.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.icraf.gsl.regreeningafrica.MainActivity" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name="com.icraf.gsl.regreeningafrica.TPFarmInstiMainAcivity" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name="com.icraf.gsl.regreeningafrica.SelectSurvey" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name="com.icraf.gsl.regreeningafrica.TrainingsMainActivity" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name="com.icraf.gsl.regreeningafrica.TPCohortMainAcivity" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name="com.icraf.gsl.regreeningafrica.TPTreeMeasureMainAcivity" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name="com.icraf.gsl.regreeningafrica.OtherMainActivities" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name="com.icraf.gsl.regreeningafrica.NurseryOtherInfoMain" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name="com.icraf.gsl.regreeningafrica.NurseryInfoMain" android:configChanges="orientation|screenSize|keyboardHidden" android:launchMode="singleTask" />
        <activity android:name="com.icraf.gsl.regreeningafrica.About" />
        <activity android:name="com.icraf.gsl.regreeningafrica.AppGuide" />
        <activity android:name="com.icraf.gsl.regreeningafrica.FmnrFarmInstMainActivity" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name="com.icraf.gsl.regreeningafrica.FmnrTreeMeasureMainActivity" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name="com.icraf.gsl.regreeningafrica.FmnrLandSizeMainActivity" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name="com.icraf.gsl.regreeningafrica.TPLandSizeMainActivity" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name="com.icraf.gsl.regreeningafrica.SelectTPMultiple_TP" />
        <activity android:name="com.icraf.gsl.regreeningafrica.SelectTPMultiple_FMNR" />
        <activity android:name="com.icraf.gsl.regreeningafrica.Select_Farmer_Institution_TP" />
        <activity android:name="com.icraf.gsl.regreeningafrica.Select_Farmer_Institution_FMNR" />
        <activity android:name="com.icraf.gsl.regreeningafrica.TPView" />
        <activity android:name="com.icraf.gsl.regreeningafrica.TPEdit" />
        <activity android:name="com.icraf.gsl.regreeningafrica.ViewMainActivity" />
        <activity android:name="com.icraf.gsl.regreeningafrica.FMNRView" />
        <activity android:name="com.icraf.gsl.regreeningafrica.FMNREdit" />
        <activity android:name="com.icraf.gsl.regreeningafrica.NurseryView" />
        <activity android:name="com.icraf.gsl.regreeningafrica.NurseryEdit" />
        <activity android:name="com.icraf.gsl.regreeningafrica.TrainingView" />
        <activity android:name="com.icraf.gsl.regreeningafrica.TrainingEdit" />
    </application>

</manifest>