<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.icraf.gsl.regreeningafrica">

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_regreeningafrica_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.icraf.gsl.regreeningafrica.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.icraf.gsl.regreeningafrica.MainActivity" />
        <activity android:name="com.icraf.gsl.regreeningafrica.TPFarmInstiMainAcivity" />
        <activity android:name="com.icraf.gsl.regreeningafrica.SelectSurvey" />
        <activity android:name="com.icraf.gsl.regreeningafrica.TrainingsMainActivity" />
        <activity android:name="com.icraf.gsl.regreeningafrica.TPCohortMainAcivity" />
        <activity android:name="com.icraf.gsl.regreeningafrica.TPTreeMeasureMainAcivity" />
        <activity android:name="com.icraf.gsl.regreeningafrica.OtherMainActivities" />
        <activity android:name="com.icraf.gsl.regreeningafrica.NurseryOtherInfoMain"> </activity>
        <activity android:name="com.icraf.gsl.regreeningafrica.NurseryInfoMain"> </activity>
        <activity android:name="com.icraf.gsl.regreeningafrica.About"> </activity>
        <activity android:name="com.icraf.gsl.regreeningafrica.AppGuide"> </activity>
        <activity android:name="com.icraf.gsl.regreeningafrica.FmnrFarmInstMainActivity"> </activity>
        <activity android:name="com.icraf.gsl.regreeningafrica.FmnrTreeMeasureMainActivity"> </activity>
        <activity android:name="com.icraf.gsl.regreeningafrica.FmnrLandSizeMainActivity"> </activity>
    </application>

</manifest>